{% extends "base.html" %}

{% block content %}

        <!-- Cart Page Start -->
        <div class="container-fluid py-5 mt-5">
            <div class="container py-5">
                <div class="table-responsive">
                    <table class="table">
                        {% if orders %}
                        {% for item in orders %}
                        <thead>
                            <tr>
                              <th>
                                   <div class="bg-light rounded">
                                      <div class="p-4">
                                          <div class="d-flex justify-content-between mb-4">
                                            <h1 class="display-6 mb-4">{{item}}</h1>
                                            
                                                <button class="btn btn-md bg-danger border-0 mb-4 p-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color:white;font-size:15px;">
                                                    Cancel
                                                </button>
                                          </div>  
                                          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="staticBackdropLabel">Cancel Order</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                  Are you sure you to cancel this order?
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                  <a href="{% url "order:cancel" item.id %}" >
                                                    <button type="button" class="btn btn-primary">Yes</button>
                                                  </a>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          
                                          <div class="d-flex justify-content-between mb-4">
                                              <h5 class="mb-0 me-4">Name:</h5>
                                              <p class="mb-0 me-5">{{item.first_name}} {{item.last_name}}</p>
                                              <h5 class="mb-0 me-4">Phone:</h5>
                                              <p class="mb-0 me-5">{{item.phone}}</p>
                                              <h5 class="mb-0 me-4">Email:</h5>
                                              <p class="mb-0 me-5">{{item.email}}</p>
                                              <h5 class="mb-0 me-4">City:</h5>
                                              <p class="mb-0 me-5">{{item.city}}</p>
                                              <h5 class="mb-0 me-4">Country:</h5>
                                              <p class="mb-0 me-5">{{item.country}}</p>
                                          </div>
                                          <div class="d-flex justify-content-between mb-4">
                                                <h5 class="mb-0 me-4">Address 1:</h5>
                                                <p class="mb-0">{{item.address1}}</p>
                                                <h5 class="mb-0 me-4">Address 2:</h5>
                                                <p class="mb-0 me-5">{{item.address2}}</p>
                                          </div>
                                          <hr>
                                          <div class="d-flex justify-content-start mb-4">
                                              <h5 class="mb-0 me-4">Total:</h5>
                                              <p class="mb-0">${{item.order_total}}</p>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex justify-content-start">
                                                    <h5 class="mb-0 me-4">Shipping:</h5>
                                                    <p class="mb-0 me-5">${{item.shipping}}</p>
                                                </div>
                                                <div class="d-flex justify-content-start">
                                                    <button class="btn btn-md border-0" type="button" data-bs-toggle="modal" data-bs-target="#pro" style="color:grey;font-size:15px;">
                                                        <h5 style="color:grey;">Products</h5>
                                                    </button>
                                                </div>
                                                <div class="modal fade" id="pro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title" id="staticBackdropLabel">Order Products</h5>
                                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                          <th scope="col">Product</th>
                                                                          <th scope="col">Name</th>
                                                                          <th scope="col">Price</th>
                                                                          <th scope="col">Quantity</th>
                                                                        </tr>
                                                                      </thead>

                                                                      {% for pro in order_products %}
                                                                      {% if pro.order == item %}
                                                                        <tbody>
                                                                            <tr>
                                                                                <th scope="row">
                                                                                    <div class="d-flex align-items-center">
                                                                                        <img src="{{pro.product.images.url}}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                                                                    </div>
                                                                                </th>
                                                                                <td>
                                                                                    <p class="mb-0 mt-4">{{pro.product}}</p>
                                                                                </td>
                                                                                <td>
                                                                                    <p class="mb-0 mt-4 px-2">{{pro.product_price}} $</p>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="form-control mt-4 form-control-sm text-center border-0 bg-transparent">{{pro.quantity}}</div>
                                                                                </td>
                                                                            </tr>
                                                                        {% endif %}
                                                                        {% endfor %}
                                                                        
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                          </div>
                                      </div>
                                  </div>
                              </tr>
                          </thead>
                        {% endfor %}
                            {% else %}
                            <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-center">
                                <h2 class="mb-0 ps-4 me-4">No Orders</h2>
                            </div>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Cart Page End -->


{% endblock content %}